In [3]:
# !pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 128 kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [1]:
import pymysql
import pandas as pd

## DB connection

In [2]:
pwd = 'aa0609aa'
host = '127.0.0.1'
db_name = 'ex'

db = pymysql.connect(
    user = 'root', 
    passwd = pwd, 
    host = '127.0.0.1', 
    db = db_name, 
    charset='utf8'
)

#커서 가져오기
cursor = db.cursor()

In [ ]:
# youtube_columns = ['youtuber_name','subscribers','channel_url']
# video_columns = ['title','view','contents','create_date','search_query','video_url','youtuber_name']

## Create Table

In [17]:
sql = """
CREATE TABLE data (
id INT UNSIGNED NOT NULL AUTO_INCREMENT,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id)
);
"""

In [5]:
sql = """
create table youtuber (
id int,
youtuber_name VARCHAR(50),
subscribers int,
channel_url VARCHAR(200),
PRIMARY KEY(id)
)
"""

In [9]:
sql = """
create table video_info (
id INT UNSIGNED NOT NULL AUTO_INCREMENT,
title VARCHAR(100),
view int,
contents VARCHAR(300),
create_date DATE,
search_query VARCHAR(20),
video_url VARCHAR(200),
youtuber_id int,
PRIMARY KEY(id)
)
"""

In [10]:
cursor.execute(sql)
#db에 complete
db.commit()

In [51]:
db.close()

Error: Already closed

## Scraping

In [23]:
video = pd.read_csv('[complete]video_info_df.csv',index_col = 0)
youtuber = pd.read_csv('[complete]youtuber_df.csv',index_col = 0)

In [31]:
data = pd.merge(video, youtuber,on = 'youtuber_name')

In [40]:
data = data.rename(columns = {'id':'youtuber_id'})
data =data.drop('subscribers', axis=1)
data =data.drop('channel_url', axis=1)
data =data.drop('youtuber_name', axis=1)

data.columns

Index(['title', 'view', 'contents', 'create_date', 'search_query', 'video_url',
       'youtuber_id'],
      dtype='object')

In [32]:
youtuber.columns

Index(['id', 'youtuber_name', 'channel_url', 'subscribers'], dtype='object')

In [43]:
youtuber = youtuber[['id', 'youtuber_name', 'subscribers','channel_url']]
data = data[['title', 'view', 'contents', 'create_date', 'search_query', 'video_url','youtuber_id']]

In [56]:
data.head()

,title,view,contents,create_date,search_query,video_url,youtuber_id
0,갤럭시 Z 플립4 언빡싱 달라진점 7가지 플립3의 가장 큰 단점을 개선했다,980000,갬성의 삼성이라고 불렸던 플립3의 후속작인 플립4가 공개되었습니다 이번에는 파격적...,2022-08-16,갤럭시,https://www.youtube.com/watch?v=WwGzNicmPHk,0
1,1 갤럭시 Z 플립4 폴드4 첫 인상 궁금한게 많아서 개발자분께 모두 물어봤...,1670000,기다리고 기다렸던 삼성전자의 하반기 전략 플래그십 스마트폰 갤럭시 Z 플립4와 폴...,2022-08-11,갤럭시,https://www.youtube.com/watch?v=H-wxJxEkmm4,0
2,40대가 아이폰을 사기 시작했다 예상과 달리 놀라운 결과의 2022년 한국 스마트...,760000,한국에서 갤럭시가 더 많이 팔리는지 아이폰이 더 많이 팔리는지 궁금하셨나요 이번...,2022-07-20,갤럭시,https://www.youtube.com/watch?v=PDMQpgMDjeU,0
3,2 갤럭시 버즈2 프로 워치5 프로 첫 인상 귀에 넣어도 이제 안 아플까,710000,2022년 8월 10일 기다리고 기다렸던 버즈 프로의 후속작인 버즈2 프로 그리고...,2022-08-11,갤럭시,https://www.youtube.com/watch?v=MsdZwVNK6EE,0
4,삼성버전 인덕션 카메라 성능에 몰빵한 삼성 갤럭시 S20 S20 S20 ...,2290000,드디어 상반기 삼성의 플래그십 스마트폰 갤럭시 S20 시리즈가 모두 공개되었습니...,2020-08-17,갤럭시,https://www.youtube.com/watch?v=NLNJ2hKDyaU,0

In [55]:
youtuber['youtuber_name']= youtuber['youtuber_name'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)
data['title'] = data['title'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)
data['contents'] = data['contents'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [58]:
youtuber.to_csv('[final]youtuber_df.csv')
data.to_csv('[final]video_info_df.csv')

## Insert DataFrame

In [52]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+pwd+"@localhost/"+db_name, encoding='utf-8')
conn = engine.connect()

# MySQL에 저장하기
youtuber.to_sql(name='youtuber', con=engine, if_exists='append', index= False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'youtuber.PRIMARY'")
[SQL: INSERT INTO youtuber (id, youtuber_name, subscribers, channel_url) VALUES (%(id)s, %(youtuber_name)s, %(subscribers)s, %(channel_url)s)]
[parameters: ({'id': 0, 'youtuber_name': 'ITSub잇섭', 'subscribers': 2190000, 'channel_url': 'https://www.youtube.com/c/ITSUB%EC%9E%87%EC%84%AD'}, {'id': 1, 'youtuber_name': '주연 ZUYONI', 'subscribers': 590000, 'channel_url': 'https://www.youtube.com/channel/UCB11SAf7WSN4GrCquKoOHrw'}, {'id': 2, 'youtuber_name': '인태크 INTAECH', 'subscribers': 3410, 'channel_url': 'https://www.youtube.com/channel/UCr6deoUPd2sh7mafAk5xWDQ'}, {'id': 3, 'youtuber_name': '고나고', 'subscribers': 131000, 'channel_url': 'https://www.youtube.com/user/gonachoi'}, {'id': 4, 'youtuber_name': '삼성전자 Samsung Korea', 'subscribers': 441000, 'channel_url': 'https://www.youtube.com/c/SamsungKorea'}, {'id': 5, 'youtuber_name': '하다 일기', 'subscribers': 2, 'channel_url': 'https://www.youtube.com/channel/UC2mFPcCVDdQLL6WyQ0pqRaA'}, {'id': 6, 'youtuber_name': 'Samsung', 'subscribers': 6220000, 'channel_url': 'https://www.youtube.com/c/Samsung'}, {'id': 7, 'youtuber_name': '사야되나 Ten', 'subscribers': 8800, 'channel_url': 'https://www.youtube.com/c/%EC%82%AC%EC%95%BC%EB%90%98%EB%82%98Ten'}  ... displaying 10 of 164 total bound parameter sets ...  {'id': 162, 'youtuber_name': 'iClass 아이클래스', 'subscribers': 768, 'channel_url': 'https://www.youtube.com/channel/UCKEcBmd1FGWgdARJW5j6p2w'}, {'id': 163, 'youtuber_name': 'TechTalkTV', 'subscribers': 749000, 'channel_url': 'https://www.youtube.com/c/TechTalkTV'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [57]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+pwd+"@localhost/"+db_name, encoding='utf-8')
conn = engine.connect()

# MySQL에 저장하기
data.to_sql(name='video_info', con=engine, if_exists='append', index= False)